{
    auto_https off
}

:80 {
    log

    mercure {
        publisher_jwt "default-publisher-key-12345-change-me"
        subscriber_jwt "default-subscriber-key-67890-change-me"
        publish_origins *
        cors_origins *
        anonymous
    }

    route {
        mercure
    }
}
